{% extends "base.html" %}
{% load static %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1 align="center">Привет, я автор</h1>
<p align="center">
  Привет, на связи Антон Злобин - автор этого чудо-юдо сайта. <br>
  <img src="{% static 'img/avatar.jpg' %}" width="150" height="200"> <br>
  Это мой первый самостоятельный проект в Вебе. <br>
  Я пришел в мир программмирования, решив поступить в универ на it - специальность. <br>
  Сейчас благополучно его заканчиваю и продолжаю развиваться в it дальше. <br>
  Ссылка на мой гитхаб <br>
  <a href="https://github.com/Antony8720">Тык</a> <br>
</p>
{% endblock %} 